* {
    box-sizing: border-box;
    margin: 0;
    background-color: #f5ede1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    background-color: #c4b59d;
    padding: 20px;
    color: #fff;
}

.recipes-pages {
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
}

.recipes-pages a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #c4b59d;
    padding: 20px;
    width: 10%;
    text-align: center;
}
.recipes-pages a:hover {
    background-color: #c4c4c4;
}

a {
    display: block;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    text-align: right;
}

a:hover {
    color: #c4b59d;
}

img {
    display: block;
    margin: 50px auto;
}

h2 {
    width: 40%;
    margin: 50px auto 10px auto;
}

p, ul, ol {
    width: 40%;
    margin: 10px auto 50px auto;
    text-align: justify;
}